<a href="https://colab.research.google.com/github/GeorgeKariuki7205/Introduction-To-Data-Science-With-Matploitlib-Pandas-And-SeaBorn/blob/master/secondWorkshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
#data frameimporting and making the data set.
df = pd.read_csv('2009_census_data_roofing_materials.csv')

In [3]:
#reading the head of the data.
df.head()

          District rural/urban  ... Province OBJECTID
0  NYANDARUA NORTH       Urban  ...  CENTRAL        0
1  NYANDARUA SOUTH       Urban  ...  CENTRAL        1
2      NYERI NORTH       Urban  ...  CENTRAL        2
3      NYERI SOUTH       Urban  ...  CENTRAL        3
4        KIRINYAGA       Urban  ...  CENTRAL        4

[5 rows x 26 columns]

In [4]:
#reading the first 10 records.
df.head(10)

               District rural/urban  ... Province OBJECTID
0       NYANDARUA NORTH       Urban  ...  CENTRAL        0
1       NYANDARUA SOUTH       Urban  ...  CENTRAL        1
2           NYERI NORTH       Urban  ...  CENTRAL        2
3           NYERI SOUTH       Urban  ...  CENTRAL        3
4             KIRINYAGA       Urban  ...  CENTRAL        4
5         MURANGA NORTH       Urban  ...  CENTRAL        5
6         MURANGA SOUTH       Urban  ...  CENTRAL        6
7  KIAMBU EAST(KIAMBAA)       Urban  ...  CENTRAL        7
8                KIKUYU       Urban  ...  CENTRAL        8
9           KIAMBU WEST       Urban  ...  CENTRAL        9

[10 rows x 26 columns]

In [5]:
#getting the tail of the data.
df.tail()

       District rural/urban  ... Province OBJECTID
310       BUSIA       Rural  ...  WESTERN      310
311  TESO NORTH       Rural  ...  WESTERN      311
312       SAMIA       Rural  ...  WESTERN      312
313     BUNYALA       Rural  ...  WESTERN      313
314  TESO SOUTH       Rural  ...  WESTERN      314

[5 rows x 26 columns]

In [6]:
#getting a particilar row using the iloc function.
df.iloc[200:201,:]

          District rural/urban  ...     Province OBJECTID
200  BARINGO NORTH       Urban  ...  RIFT VALLEY      200

[1 rows x 26 columns]

In [7]:
#getting the particular columns
df.iloc[:,1:5]

    rural/urban  ... %_of_Households_Concrete
0         Urban  ...                    0.16%
1         Urban  ...                     2.6%
2         Urban  ...                    5.21%
3         Urban  ...                    3.32%
4         Urban  ...                    3.97%
5         Urban  ...                   17.97%
6         Urban  ...                    4.23%
7         Urban  ...                     6.6%
8         Urban  ...                    6.19%
9         Urban  ...                    5.26%
10        Urban  ...                      NaN
11        Urban  ...                   13.84%
12        Urban  ...                    0.33%
13        Urban  ...                    7.82%
14        Urban  ...                   18.09%
15        Urban  ...                    8.23%
16        Urban  ...                   16.57%
17        Rural  ...                    0.03%
18        Rural  ...                     0.1%
19        Rural  ...                    0.15%
20        Rural  ...                    0.28%
21        Rural  ...                    0.16%
22        Rural  ...                    0.65%
23        Rural  ...                    0.51%
24        Rural  ...                    0.54%
25        Rural  ...                       0%
26        Rural  ...                    1.01%
27        Rural  ...                    0.76%
28        Rural  ...                    0.55%
29        Rural  ...                    0.35%
..          ...  ...                      ...
285       Urban  ...                    0.82%
286       Urban  ...                    0.11%
287       Urban  ...                    0.43%
288       Urban  ...                    0.13%
289       Urban  ...                    0.09%
290       Urban  ...                    0.24%
291       Urban  ...                    0.64%
292       Urban  ...                      NaN
293       Urban  ...                    0.12%
294       Urban  ...                    0.24%
295       Rural  ...                    0.06%
296       Rural  ...                    0.07%
297       Rural  ...                    0.06%
298       Rural  ...                    0.06%
299       Rural  ...                    0.07%
300       Rural  ...                    0.06%
301       Rural  ...                    0.08%
302       Rural  ...                    0.13%
303       Rural  ...                    0.05%
304       Rural  ...                    0.09%
305       Rural  ...                    0.04%
306       Rural  ...                    0.07%
307       Rural  ...                    0.02%
308       Rural  ...                    0.03%
309       Rural  ...                    0.05%
310       Rural  ...                    0.03%
311       Rural  ...                    0.03%
312       Rural  ...                    0.05%
313       Rural  ...                    0.04%
314       Rural  ...                    0.03%

[315 rows x 4 columns]

In [8]:
df.iloc[:,5:6].head()

  Asbestos_%_of_Households_Sheets
0                           1.46%
1                           1.46%
2                           2.58%
3                           3.04%
4                            3.5%

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 26 columns):
District                                  315 non-null object
rural/urban                               315 non-null object
%_of_Households_Corrugated_Iron_Sheets    290 non-null object
%_of_Households_Tiles                     290 non-null object
%_of_Households_Concrete                  290 non-null object
Asbestos_%_of_Households_Sheets           290 non-null object
%_of_Households_Grass                     290 non-null object
%_of_Households_Makuti                    290 non-null object
%_of_Households_Tin                       290 non-null object
%_of_Households_Mud/Dung                  290 non-null object
%_of_Households_Other                     290 non-null object
Households                                315 non-null int64
No_Corrugated_Iron_Sheets                 315 non-null int64
No_Tiles                                  315 non-null int64
No_Concrete                               315 non-null int64
No_Asbestos_Sheets                        315 non-null int64
No_Grass                                  315 non-null int64
No_Makuti                                 315 non-null int64
No_Tin                                    315 non-null int64
No_Mud/Dung                               315 non-null int64
No_Other                                  315 non-null int64
County                                    315 non-null object
MTEF                                      315 non-null object
Location_1                                0 non-null float64
Province                                  315 non-null object
OBJECTID                                  315 non-null int64
dtypes: float64(1), int64(11), object(14)
memory usage: 64.1+ KB

In [10]:
df.colums

AttributeError: ignored

In [11]:
#getting the collumns of the data.
df.columns

Index(['District', 'rural/urban', '%_of_Households_Corrugated_Iron_Sheets',
       '%_of_Households_Tiles', '%_of_Households_Concrete',
       'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass',
       '%_of_Households_Makuti', '%_of_Households_Tin',
       '%_of_Households_Mud/Dung', '%_of_Households_Other', 'Households',
       'No_Corrugated_Iron_Sheets', 'No_Tiles', 'No_Concrete',
       'No_Asbestos_Sheets', 'No_Grass', 'No_Makuti', 'No_Tin', 'No_Mud/Dung',
       'No_Other', 'County', 'MTEF', 'Location_1', 'Province', 'OBJECTID'],
      dtype='object')

In [12]:
df.types

AttributeError: ignored

In [13]:
#getting the datatypes of the data.
df.dtypes

District                                   object
rural/urban                                object
%_of_Households_Corrugated_Iron_Sheets     object
%_of_Households_Tiles                      object
%_of_Households_Concrete                   object
Asbestos_%_of_Households_Sheets            object
%_of_Households_Grass                      object
%_of_Households_Makuti                     object
%_of_Households_Tin                        object
%_of_Households_Mud/Dung                   object
%_of_Households_Other                      object
Households                                  int64
No_Corrugated_Iron_Sheets                   int64
No_Tiles                                    int64
No_Concrete                                 int64
No_Asbestos_Sheets                          int64
No_Grass                                    int64
No_Makuti                                   int64
No_Tin                                      int64
No_Mud/Dung                                 int64
No_Other                                    int64
County                                     object
MTEF                                       object
Location_1                                float64
Province                                   object
OBJECTID                                    int64
dtype: object

In [14]:
#getting the unique number of collumns.
df.County.nunique()

47

In [15]:
df['No_Grass'].nunique()

262

In [16]:
#getting the unique records.
df.County.unique()

array(['Nyandarua', 'Nyeri', 'Kirinyaga', "Murang'a", 'Kiambu', 'Mombasa',
       'Kwale ', 'Kilifi', 'Tana River', 'Lamu', 'Taita Taveta',
       'Marsabit', 'Isiolo', 'Meru', 'Tharaka Nithi', 'Embu', 'Kitui',
       'Machakos', 'Makueni', 'Nairobi', 'Garissa', 'Wajir', 'Mandera',
       'Siaya', 'Kisumu', 'Homa Bay', 'Migori', 'Kisii', 'Nyamira',
       'Turkana', 'West Pokot', 'Samburu', 'Trans Nzoia', 'Baringo',
       'Uasin Gishu', 'Elgeyo Marakwet', 'Nandi', 'Laikipia', 'Nakuru',
       'Narok', 'Kajiado', 'Kericho', 'Bomet', 'Kakamega', 'Vihiga',
       'Bungoma', 'Busia'], dtype=object)

In [18]:
df.Province.nunique()

8

In [19]:
DF.COLUMND

NameError: ignored

In [20]:
df.columns

Index(['District', 'rural/urban', '%_of_Households_Corrugated_Iron_Sheets',
       '%_of_Households_Tiles', '%_of_Households_Concrete',
       'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass',
       '%_of_Households_Makuti', '%_of_Households_Tin',
       '%_of_Households_Mud/Dung', '%_of_Households_Other', 'Households',
       'No_Corrugated_Iron_Sheets', 'No_Tiles', 'No_Concrete',
       'No_Asbestos_Sheets', 'No_Grass', 'No_Makuti', 'No_Tin', 'No_Mud/Dung',
       'No_Other', 'County', 'MTEF', 'Location_1', 'Province', 'OBJECTID'],
      dtype='object')

In [21]:
cat_cols = ['County','Province','rural/urban']

for cols in cat_cols:
  print(df[cols].unique())
  print(df[cols].nunique())
  print('\n')

['Nyandarua' 'Nyeri' 'Kirinyaga' "Murang'a" 'Kiambu' 'Mombasa' 'Kwale '
 'Kilifi' 'Tana River' 'Lamu' 'Taita Taveta' 'Marsabit' 'Isiolo' 'Meru'
 'Tharaka Nithi' 'Embu' 'Kitui' 'Machakos' 'Makueni' 'Nairobi' 'Garissa'
 'Wajir' 'Mandera' 'Siaya' 'Kisumu' 'Homa Bay' 'Migori' 'Kisii' 'Nyamira'
 'Turkana' 'West Pokot' 'Samburu' 'Trans Nzoia' 'Baringo' 'Uasin Gishu'
 'Elgeyo Marakwet' 'Nandi' 'Laikipia' 'Nakuru' 'Narok' 'Kajiado' 'Kericho'
 'Bomet' 'Kakamega' 'Vihiga' 'Bungoma' 'Busia']
47


['CENTRAL' 'COAST' 'EASTERN' 'NAIROBI' 'NORTH EASTERN' 'NYANZA'
 'RIFT VALLEY' 'WESTERN']
8


['Urban' 'Rural']
2

In [22]:
#gives a summary description.
df.describe()

          Households  No_Corrugated_Iron_Sheets  ...  Location_1    OBJECTID
count     315.000000                 315.000000  ...         0.0  315.000000
mean    27739.990476               20313.085714  ...         NaN  157.000000
std     36936.013962               27522.195495  ...         NaN   91.076891
min         0.000000                   0.000000  ...         NaN    0.000000
25%      6122.500000                2249.500000  ...         NaN   78.500000
50%     19729.000000               12196.000000  ...         NaN  157.000000
75%     35903.500000               28711.500000  ...         NaN  235.500000
max    369265.000000              234774.000000  ...         NaN  314.000000

[8 rows x 12 columns]

In [0]:
#DATA CLEANING BEGINS.

In [23]:
df.head()

          District rural/urban  ... Province OBJECTID
0  NYANDARUA NORTH       Urban  ...  CENTRAL        0
1  NYANDARUA SOUTH       Urban  ...  CENTRAL        1
2      NYERI NORTH       Urban  ...  CENTRAL        2
3      NYERI SOUTH       Urban  ...  CENTRAL        3
4        KIRINYAGA       Urban  ...  CENTRAL        4

[5 rows x 26 columns]

In [24]:
df.columns()

TypeError: ignored

In [25]:
df.columns

Index(['District', 'rural/urban', '%_of_Households_Corrugated_Iron_Sheets',
       '%_of_Households_Tiles', '%_of_Households_Concrete',
       'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass',
       '%_of_Households_Makuti', '%_of_Households_Tin',
       '%_of_Households_Mud/Dung', '%_of_Households_Other', 'Households',
       'No_Corrugated_Iron_Sheets', 'No_Tiles', 'No_Concrete',
       'No_Asbestos_Sheets', 'No_Grass', 'No_Makuti', 'No_Tin', 'No_Mud/Dung',
       'No_Other', 'County', 'MTEF', 'Location_1', 'Province', 'OBJECTID'],
      dtype='object')

In [26]:
df['Location_1'].unique()

array([nan])

In [27]:
df['Location_1'].nunique()

0

In [28]:
df.iloc[:,20:26]

     No_Other     County  ... Province  OBJECTID
0        1380  Nyandarua  ...  CENTRAL         0
1           1  Nyandarua  ...  CENTRAL         1
2           2      Nyeri  ...  CENTRAL         2
3          67      Nyeri  ...  CENTRAL         3
4          42  Kirinyaga  ...  CENTRAL         4
5          14   Murang'a  ...  CENTRAL         5
6           8   Murang'a  ...  CENTRAL         6
7          69     Kiambu  ...  CENTRAL         7
8          49     Kiambu  ...  CENTRAL         8
9          11     Kiambu  ...  CENTRAL         9
10          0     Kiambu  ...  CENTRAL        10
11          5     Kiambu  ...  CENTRAL        11
12          0     Kiambu  ...  CENTRAL        12
13         55     Kiambu  ...  CENTRAL        13
14         34     Kiambu  ...  CENTRAL        14
15          2   Murang'a  ...  CENTRAL        15
16          0     Kiambu  ...  CENTRAL        16
17        210  Nyandarua  ...  CENTRAL        17
18         88  Nyandarua  ...  CENTRAL        18
19        122      Nyeri  ...  CENTRAL        19
20         16      Nyeri  ...  CENTRAL        20
21        140  Kirinyaga  ...  CENTRAL        21
22         21   Murang'a  ...  CENTRAL        22
23         33   Murang'a  ...  CENTRAL        23
24          1     Kiambu  ...  CENTRAL        24
25          2     Kiambu  ...  CENTRAL        25
26         33     Kiambu  ...  CENTRAL        26
27         16     Kiambu  ...  CENTRAL        27
28          5     Kiambu  ...  CENTRAL        28
29         11     Kiambu  ...  CENTRAL        29
..        ...        ...  ...      ...       ...
285         7    Bungoma  ...  WESTERN       285
286         1    Bungoma  ...  WESTERN       286
287         0    Bungoma  ...  WESTERN       287
288         1    Bungoma  ...  WESTERN       288
289        41    Bungoma  ...  WESTERN       289
290         3      Busia  ...  WESTERN       290
291         1      Busia  ...  WESTERN       291
292         0      Busia  ...  WESTERN       292
293         0      Busia  ...  WESTERN       293
294         0      Busia  ...  WESTERN       294
295         2   Kakamega  ...  WESTERN       295
296         1   Kakamega  ...  WESTERN       296
297        99   Kakamega  ...  WESTERN       297
298         6   Kakamega  ...  WESTERN       298
299        39   Kakamega  ...  WESTERN       299
300         1     Vihiga  ...  WESTERN       300
301         4     Vihiga  ...  WESTERN       301
302        12     Vihiga  ...  WESTERN       302
303         2   Kakamega  ...  WESTERN       303
304         4   Kakamega  ...  WESTERN       304
305         2    Bungoma  ...  WESTERN       305
306         3    Bungoma  ...  WESTERN       306
307         3    Bungoma  ...  WESTERN       307
308        33    Bungoma  ...  WESTERN       308
309       260    Bungoma  ...  WESTERN       309
310         9      Busia  ...  WESTERN       310
311         0      Busia  ...  WESTERN       311
312        16      Busia  ...  WESTERN       312
313       120      Busia  ...  WESTERN       313
314         4      Busia  ...  WESTERN       314

[315 rows x 6 columns]

In [29]:
#dropping a column

df.drop(['Location_1', axis = 1, inplace = True])

SyntaxError: ignored

In [0]:
#dropping a particular value that does not have any significance such as Locaion_1 which has no signi
df.drop(['Location_1'], axis = 1, inplace = True)

#the inplace=true is used to find the whole column that does not have neccesity and then now drop the column and also its contenets.

In [31]:
df.columns

Index(['District', 'rural/urban', '%_of_Households_Corrugated_Iron_Sheets',
       '%_of_Households_Tiles', '%_of_Households_Concrete',
       'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass',
       '%_of_Households_Makuti', '%_of_Households_Tin',
       '%_of_Households_Mud/Dung', '%_of_Households_Other', 'Households',
       'No_Corrugated_Iron_Sheets', 'No_Tiles', 'No_Concrete',
       'No_Asbestos_Sheets', 'No_Grass', 'No_Makuti', 'No_Tin', 'No_Mud/Dung',
       'No_Other', 'County', 'MTEF', 'Province', 'OBJECTID'],
      dtype='object')

In [32]:
df.drop(['OBJECTID'],axis = 1, inPlace = True)

TypeError: ignored

In [0]:
df.drop(['OBJECTID'], axis = 1, inplace = True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315 entries, 0 to 314
Data columns (total 24 columns):
District                                  315 non-null object
rural/urban                               315 non-null object
%_of_Households_Corrugated_Iron_Sheets    290 non-null object
%_of_Households_Tiles                     290 non-null object
%_of_Households_Concrete                  290 non-null object
Asbestos_%_of_Households_Sheets           290 non-null object
%_of_Households_Grass                     290 non-null object
%_of_Households_Makuti                    290 non-null object
%_of_Households_Tin                       290 non-null object
%_of_Households_Mud/Dung                  290 non-null object
%_of_Households_Other                     290 non-null object
Households                                315 non-null int64
No_Corrugated_Iron_Sheets                 315 non-null int64
No_Tiles                                  315 non-null int64
No_Concrete                               315 non-null int64
No_Asbestos_Sheets                        315 non-null int64
No_Grass                                  315 non-null int64
No_Makuti                                 315 non-null int64
No_Tin                                    315 non-null int64
No_Mud/Dung                               315 non-null int64
No_Other                                  315 non-null int64
County                                    315 non-null object
MTEF                                      315 non-null object
Province                                  315 non-null object
dtypes: int64(10), object(14)
memory usage: 59.1+ KB

In [35]:
#removing the special characters.
df.columns

Index(['District', 'rural/urban', '%_of_Households_Corrugated_Iron_Sheets',
       '%_of_Households_Tiles', '%_of_Households_Concrete',
       'Asbestos_%_of_Households_Sheets', '%_of_Households_Grass',
       '%_of_Households_Makuti', '%_of_Households_Tin',
       '%_of_Households_Mud/Dung', '%_of_Households_Other', 'Households',
       'No_Corrugated_Iron_Sheets', 'No_Tiles', 'No_Concrete',
       'No_Asbestos_Sheets', 'No_Grass', 'No_Makuti', 'No_Tin', 'No_Mud/Dung',
       'No_Other', 'County', 'MTEF', 'Province'],
      dtype='object')

In [0]:
cols = ['%_of_Households_Corrugated_Iron_Sheets','%_of_Households_Tiles','%_of_Households_Concrete','Asbestos_%_of_Households_Sheets','%_of_Households_Grass','%_of_Households_Makuti','%_of_Households_Tin','%_of_Households_Mud/Dung','%_of_Households_Other']